* {
  margin: 0px;
  padding: 0px;
}

body {
  background: url(img/background2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.startGame {
  width: 50%;
  height: 50%;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.startGameContent {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homeTitles {
  font-family: 'Patua One',
    cursive;
  font-weight: 400;
  font-size: 2vw;
  padding-bottom: 5px;
  padding-top: 5px;
}

.titles {
  font-family: 'Patua One',
    cursive;
  font-weight: 400;
  font-size: 2vw;
  padding-bottom: 5px;
  padding-top: 10px;
  padding-left: 20px;
}


.text {
  font-family: 'Lato',
    sans-serif;
  font-size: 1.1vw;
  line-height: 1.4;
  padding: 20px;

}

.navigatie {
  width: 30%;
  float: left;
  position: fixed;
  top: 0px;
}

.explainText {
  width: 100%;
  margin: 10px;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.3);
}

.buttons {
  width: 100%;
  margin: 10px;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.3);
}

.allButton {
  font-family: 'Patua One',
    cursive;
  font-size: 1.5vw;
  background-color: #A7512E;
  border: none;
  padding: 30px 50px;
  margin-bottom: 20px;
  margin-right: 20px;
  color: white;
}

.allButtonFive {
  font-family: 'Patua One',
    cursive;
  font-size: 2vh;
  background-color: #A7512E;
  border: none;
  padding: 25px 40px;
  margin-bottom: 20px;
  margin-right: 20px;
  color: white;
}

#btnRed {
  background: rgb(255, 64, 58);
}

#btnBlack {
  background: rgb(56, 56, 56);
  background: -moz-linear-gradient(90deg, rgba(56, 56, 56, 1) 0%, rgba(50, 50, 50, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(56, 56, 56, 1) 0%, rgba(50, 50, 50, 1) 100%);
  background: linear-gradient(90deg, rgba(56, 56, 56, 1) 0%, rgba(50, 50, 50, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#383838", endColorstr="#323232", GradientType=1);
}

#btnHigher {
  background: rgb(72, 202, 228);

}

#btnLower {
  background: rgb(209, 158, 106);
}

#btnInside {
  background: rgb(241, 39, 17);
  background: -moz-linear-gradient(90deg, rgba(241, 39, 17, 1) 0%, rgba(245, 87, 25, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(241, 39, 17, 1) 0%, rgba(245, 87, 25, 1) 100%);
  background: linear-gradient(90deg, rgba(241, 39, 17, 1) 0%, rgba(245, 87, 25, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f12711", endColorstr="#f55719", GradientType=1);
}

#btnOutside {
  background: rgb(0, 114, 255);
  background: -moz-linear-gradient(137deg, rgba(0, 114, 255, 1) 29%, rgba(0, 198, 255, 1) 100%);
  background: -webkit-linear-gradient(137deg, rgba(0, 114, 255, 1) 29%, rgba(0, 198, 255, 1) 100%);
  background: linear-gradient(137deg, rgba(0, 114, 255, 1) 29%, rgba(0, 198, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0072ff", endColorstr="#00c6ff", GradientType=1);
}

.round1 {
  margin-left: 20px;
  margin-top: 15px;
}

.round2 {
  margin-left: 20px;
  margin-top: 15px;
  display: none;
}

.round3 {
  margin-left: 20px;
  margin-top: 15px;
  display: none;
}

.round4 {
  margin-left: 20px;
  margin-top: 15px;
  display: none;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  float: right;
  width: 70%;
}


.playerDIV {
  width: 400px;
  height: 400px;
  margin: 10px;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
}

.alignDiv {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.active {
  border-style: solid;
  border-color: red;
}

#countPlayers {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Lato',
    sans-serif;
  font-size: 1vw;
  padding: 10px;
}

#start {
  width: 20%;
  font-family: 'Lato',
    sans-serif;
  font-size: 1vw;
  background-color: #A7512E;
  border: none;
  padding: 10px;
}

img {
  height: 45%;
  margin: 5px;
}